body {
    font-family: Arial;
    background: #f4f6f9;
    margin: 0;
    padding: 0;
}

/* Login Box */
.login-box {
    width: 300px;
    margin: 120px auto;
    padding: 25px;
    background: white;
    border-radius: 8px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.login-box input {
    width: 90%;
    padding: 10px;
    margin: 8px 0;
}

.login-box button {
    padding: 10px 20px;
    background: #007BFF;
    border: none;
    color: white;
    cursor: pointer;
}

.error {
    color: red;
}

/* Dashboard */
.dashboard {
    width: 600px;
    margin: 100px auto;
    background: white;
    padding: 30px;
    text-align: center;
    border-radius: 8px;
    box-shadow: 0 0 15px rgba(0,0,0,0.1);
}

.cards {
    display: flex;
    justify-content: space-around;
    margin: 20px 0;
}

.card {
    background: #007BFF;
    color: white;
    padding: 20px;
    width: 120px;
    border-radius: 8px;
    cursor: pointer;
}

.logout-btn {
    display: inline-block;
    padding: 10px 20px;
    background: red;
    color: white;
    text-decoration: none;
    margin-top: 20px;
    border-radius: 5px;
}
